<div class="" *ngFor="let i of product">
    <a routerLink="/category/{{i.category}}">{{i.category}}</a>
</div>
<div [ngClass]="white === 'white' ? '' : 'bg-black'" class="font-MainFont">
    <div class="flex flex-row text-white py-8 lg:py-9 justify-between common-margins">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none" class="my-auto block hover:transition-all lg:hidden hover:animate-pulse" (click)="toggleOn =! toggleOn">
            <rect width="16" height="3" fill="white"/>
            <rect y="6" width="16" height="3" fill="white"/>
            <rect y="12" width="16" height="3" fill="white"/>
        </svg>
        <a routerLink="/"><img src="assets/shared/desktop/logo.svg" alt="audiophile logo"></a>
        <div class="hidden lg:flex gap-[34px] uppercase lg:-translate-x-[50px]">
            <a class="hover:text-clr-colors-darkOrange cursor-pointer" routerLink="">Home</a>
            <a class="hover:text-clr-colors-darkOrange cursor-pointer" [routerLink]="['/category/HEADPHONES']">headphones</a>
            <a class="hover:text-clr-colors-darkOrange cursor-pointer" routerLink="/SPEAKERS">speakers</a>
            <a class="hover:text-clr-colors-darkOrange cursor-pointer" routerLink="/earphones">earphones</a>
        </div>
        <img src="assets/shared/desktop/icon-cart.svg" alt="" class="cursor-pointer" (click)="cardToggleOn=!cardToggleOn">
    </div>
    <hr class="bg-white h-[1px] opacity-20 mx-auto w-full md:px-10 max-w-[1110px] max-h-[100%]">
    <div class="lg:hidden bg-black h-full bg-opacity-40 z-50 absolute top-[95px] left-0 right-0 bottom-0 " *ngIf="toggleOn">
        <app-shop></app-shop>
    </div>

    <div *ngIf="cardToggleOn">
        <app-cart></app-cart>
    </div>
</div>