<app-header></app-header>
<app-headline message="speakers"></app-headline>
<div class="flex flex-col gap-[120px] lg:gap-40 mt-16 mb-[120px] md:my-[120px] lg:my-40">
    <app-items linkTo="zx9-speaker" imgMob="assets/category-speakers/mob-image-zx9.jpg" imgTab="assets/category-speakers/tab-image-zx9.jpg" imgDesk="assets/category-speakers/des-image-zx9.jpg" title="ZX9 SPEAKER" text="Upgrade your sound system with the all new ZX9 active speaker. It&apos;s a bookshelf speaker system that offers truly wireless connectivity -- creating new possibilities for more pleasing and practical audio setups." newProduct="new"></app-items>
    <app-items linkTo="zx7-speaker" imgMob="assets/category-speakers/mob-image-zx7.jpg" imgTab="assets/category-speakers/tab-image-zx7.jpg" imgDesk="assets/category-speakers/des-image-zx7.jpg" title="ZX7 SPEAKER" text="Stream high quality sound wirelessly with minimal loss. The ZX7 bookshelf speaker uses high-end audiophile components that represents the top of the line powered speakers for home or studio use." reversed="reverse"></app-items>
</div>
<div class="py-7 bg-red-300"></div>
<app-best-gear></app-best-gear>
<app-footer></app-footer>