<div class="bg-black text-white flex">
    <div class="mx">
        <img src="assets/shared/logo.svg" alt="">
        <div class="flex flex-col md:flex-row">
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/home">Home</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/headphones">headphones</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/speakers">speakers</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/earphones">earphones</a>
        </div>
    </div>
</div>