<div class="bg-clrLightBlack text-white flex flex-col font-MainFont">
    <div class="common-margins lg:w-full">
        <hr class="h-1 bg-clrDarkOrange w-[101px] mx-auto md:mx-0">
        <div class="flex flex-col lg:flex-row mt-12 md:mt-14 lg:mt-[71px] lg:mb-9 justify-between">
            <img class="w-[143px] mx-auto md:mx-0" src="assets/shared/desktop/logo.svg" alt="audiophile logo">
            <div class="flex flex-col md:flex-row pages gap-4 md:gap-8 lg:gap-[34px] my-12 md:my-8 lg:my-0 text-[13px] font-bold leading-[25px] tracking-[2px]">
                <a routerLink="/">Home</a>
                <a routerLink="/headphones">headphones</a>
                <a routerLink="/speakers">speakers</a>
                <a routerLink="/earphones">earphones</a>
            </div>
        </div>
    
        <div class="flex flex-row justify-between mb-12 md:mb-20 lg:mb-14">
            <p class="text-white text-[15px] font-medium leading-[25px] opacity-50 lg:max-w-[540px] text-center md:text-start">Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we&apos;re open 7 days a week.</p>
            <div class="hidden lg:flex flex-row gap-4 items-end">
                <a href="https://www.facebook.com/"><img src="assets/shared/desktop/icon-facebook.svg" alt=""></a>
                <a href="https://twitter.com/"><img src="assets/shared/desktop/icon-twitter.svg" alt=""></a>
                <a href="https://www.instagram.com/"><img src="assets/shared/desktop/icon-instagram.svg" alt=""></a>
            </div>
        </div>

        <div class="flex flex-col md:flex-row justify-between mb-[38px] md:mb-[46px] lg:mb-14 gap-12">
            <p class="text-white text-[15px] font-bold leading-[25px] opacity-50 text-center md:text-start">Copyright 2021. All Rights Reserved</p>
            <div class="flex lg:hidden flex-row gap-4 items-end mx-auto md:mx-0">
                <a href="https://www.facebook.com/"><img src="assets/shared/desktop/icon-facebook.svg" alt="" class="hover:fill-clrDarkOrange hover:bg-clrDarkOrange color-clrDarkOrange"></a>
                <a href="https://twitter.com/"><img src="assets/shared/desktop/icon-twitter.svg" alt=""></a>
                <a href="https://www.instagram.com/"><img src="assets/shared/desktop/icon-instagram.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>