<div class="bg-clrBg">
    <div class="flex flex-row py-8 lg:py-9 text-white max-w-[1110px] mx-auto justify-between">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none" class="my-auto block md:hidden">
            <rect width="16" height="3" fill="white"/>
            <rect y="6" width="16" height="3" fill="white"/>
            <rect y="12" width="16" height="3" fill="white"/>
          </svg>
        <img class="" src="assets/shared/" alt="">
        <a routerLink="/"><img src="assets/shared/logo.svg" alt=""></a>
        <div class="hidden lg:flex gap-2">
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/home">Home</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/headphones">headphones</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/speakers">speakers</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/earphones">earphones</a>
        </div>
        <button><img src="assets/shared/icon-cart.svg" alt=""></button>
    </div>
</div>