<div class="bg-clrBg font-MainFont">
    <div class="flex flex-row text-white py-8 lg:py-9 justify-between common-margins">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none" class="my-auto block hover:transition-all lg:hidden hover:animate-pulse">
            <rect width="16" height="3" fill="white"/>
            <rect y="6" width="16" height="3" fill="white"/>
            <rect y="12" width="16" height="3" fill="white"/>
          </svg>
        <a routerLink="/"><img src="assets/shared/logo.svg" alt="audiophile logo"></a>
        <div class="hidden lg:flex gap-[34px] uppercase">
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/">Home</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/headphones">headphones</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/speakers">speakers</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/earphones">earphones</a>
        </div>
        <button><img src="assets/shared/icon-cart.svg" alt=""></button>
    </div>
    <hr class="bg-white h-[1px] opacity-20 mx-auto w-full md:px-10 max-w-[1110px]">
</div>