<div [ngClass]="white === 'white' ? '' : 'bg-black'" class="font-MainFont">
    <div class="flex flex-row text-white py-8 lg:py-9 justify-between common-margins">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none" class="my-auto block hover:transition-all lg:hidden hover:animate-pulse" (click)="toggleOn =! toggleOn">
            <rect width="16" height="3" fill="white"/>
            <rect y="6" width="16" height="3" fill="white"/>
            <rect y="12" width="16" height="3" fill="white"/>
        </svg>
        <a routerLink="/"><img src="assets/shared/desktop/logo.svg" alt="audiophile logo"></a>
        <div class="hidden lg:flex gap-[34px] uppercase lg:-translate-x-[50px]">
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/">Home</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/headphones">headphones</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/speakers">speakers</a>
            <a class="hover:text-clrDarkOrange cursor-pointer" routerLink="/earphones">earphones</a>
        </div>
        <img src="assets/shared/desktop/icon-cart.svg" alt="" class="cursor-pointer" (click)="cardToggleOn=!cardToggleOn">
    </div>
    <hr class="bg-white h-[1px] opacity-20 mx-auto w-full md:px-10 max-w-[1110px]">
    <div class="lg:hidden" *ngIf="toggleOn">
        <div class="flex px-6 md:px-10 shop-button flex-col absolute w-full md:flex-row pt-[84px] md:pt-[108px] pb-[35px] md:pb-[67px] gap-[68px] md:gap-[10px] lg:gap-[30px] mb-[120px] bg-white md:mb-[168px] justify-between">
            <app-shop-button routerLink="/headphones" mainImg="assets/shared/desktop/image-category-thumbnail-headphones.png" title="HEADPHONES"></app-shop-button>
            <app-shop-button routerLink="/speakers" mainImg="assets/shared/desktop/image-category-thumbnail-speakers.png" title="SPEAKERS"></app-shop-button>
            <app-shop-button routerLink="/earphones" mainImg="assets/shared/desktop/image-category-thumbnail-earphones.png" title="EARPHONES"></app-shop-button>
        </div>
    </div>

    <div class="" *ngIf="cardToggleOn">
        <app-card-toggle></app-card-toggle>
    </div>
</div>