<app-header></app-header>
<div class="py-7 bg-red-300"></div>
<div class="relative overflow-hidden lg:gap-32 bg-clrDarkOrange text-white flex items-center flex-col lg:flex-row common-margins rounded-lg mt-[120px] md:mt-24 lg:mt-40 font-MainFont">
    <img src="assets/home/desktop/pattern-circles.svg" alt="" class="absolute scale-[173%] md:scale-110 md:-translate-y-72 lg:translate-y-40 lg:-translate-x-40">
    <img src="assets/home/mobile/image-speaker-zx9.png" alt="" class="block md:hidden mt-[57px] max-w-[172px]">
    <img src="assets/home/tablet/image-speaker-zx9.png" alt="" class="hidden md:block lg:hidden mt-[52px] max-w-[198px]">
    <img src="assets/home/desktop/image-speaker-zx9.png" alt="" class="hidden lg:block mt-24 max-w-[410px] ml-28">
    <div class="text-center lg:text-start max-w-[349px] lg:my-auto">
        <h2 class="text-4xl font-bold tracking-[1.286px] uppercase mt-8 mb-6 md:text-[56px] md:leading-[58px] md:tracking-[2px] md:mt-16 lg:mt-0 ">ZX9 SPEAKER</h2>
        <p class="">Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
        <button class="bg-black text-white hover:bg-clrbgHover hover:cursor-pointer w-40 h-12 uppercase relative mt-6 mb-[55px] md:mt-10 md:mb-16 lg:mt-[55px] lg:mb-0">see product</button>
    </div>
</div>

<div class="common-margins my-6 relative">
    <img src="../../../assets/home/mobile/image-speaker-zx7.jpg" class="block md:hidden rounded-lg absolute inset-0">
    <img src="../../../assets/home/tablet/image-speaker-zx7.jpg" class="hidden md:block lg:hidden rounded-lg absolute">
    <img src="../../../assets/home/desktop/image-speaker-zx7.jpg" class="hidden lg:block rounded-lg absolute">
    <div class="flex flex-col gap-8">
        <h3 class="">ZX7 SPEAKER</h3>
        <button>see product</button>
    </div>
</div>
<app-best-gear></app-best-gear>
<app-footer></app-footer>
<!-- <img src="../../../assets/shared/"  -translate-y-20 alt=""> -->