<app-header></app-header>
<app-item-chekout goBackLink="/speakers" price="$ 3,500" newProduct="" header="ZX7 SPEAKER" mobImg="assets/product-zx7-speaker/mobile/image-product.jpg" tabImg="assets/product-zx7-speaker/tablet/image-product.jpg" desImg="assets/product-zx7-speaker/desktop/image-product.jpg" paragraph="Stream high quality sound wirelessly with minimal to no loss. The ZX7 speaker uses high-end audiophile components that represents the top of the line powered speakers for home or studio use."></app-item-chekout>
<div class="common-margins flex flex-col lg:flex-row gap-[88px] md:gap-[120px] lg:gap-[125px]">
    <app-item-features textStart="Reap the advantages of a flat diaphragm tweeter cone. This provides a fast response rate and excellent high frequencies that lower tiered bookshelf speakers cannot provide. The woofers are made from aluminum that produces a unique and clear sound. XLR inputs allow you to connect to a mixer for more advanced usage. " textEnd=" The ZX7 speaker is the perfect blend of stylish design and high performance. It houses an encased MDF wooden enclosure which minimises acoustic resonance. Dual connectivity allows pairing through bluetooth or traditional optical and RCA input. Switch input sources and control volume at your finger tips with the included wireless remote. This versatile speaker is equipped to deliver an authentic listening experience."></app-item-features>
    <div class="flex flex-col md:flex-row lg:flex-col gap-6 md:gap-[11px] lg:gap-8">
        <h2 class="text-2xl font-MainFont font-bold leading-[36px] tracking-[0.857px] lg:w-[225px] uppercase text-black md:w-[339px]">in the box</h2>
        <div class="gap-2">
            <app-item-in-the-box amount="2" product="speaker unit"></app-item-in-the-box>
            <app-item-in-the-box amount="2" product="Speaker Cloth Panel"></app-item-in-the-box>
            <app-item-in-the-box amount="1" product="User Manual"></app-item-in-the-box>
            <app-item-in-the-box amount="1" product="3.5mm 7.5m Audio Cable"></app-item-in-the-box>
            <app-item-in-the-box amount="1" product="7.5m Optical Cable"></app-item-in-the-box>
        </div>
    </div>
</div>
<div class="common-margins">
    <app-gallery firstImgMob="assets/product-zx7-speaker/mobile/image-gallery-1.jpg" firstImgTab="assets/product-zx7-speaker/tablet/image-gallery-1.jpg" firstImgDes="assets/product-zx7-speaker/desktop/image-gallery-1.jpg" secondImgMob="assets/product-zx7-speaker/mobile/image-gallery-2.jpg" secondImgTab="assets/product-zx7-speaker/tablet/image-gallery-2.jpg" secondImgDes="assets/product-zx7-speaker/desktop/image-gallery-2.jpg" thirdImgMob="assets/product-zx7-speaker/mobile/image-gallery-3.jpg" thirdImgTab="assets/product-zx7-speaker/tablet/image-gallery-3.jpg" thirdImgDes="assets/product-zx7-speaker/desktop/image-gallery-3.jpg"></app-gallery>
</div>
<div class="flex shop-button flex-col md:flex-row common-margins gap-[68px] md:gap-[10px] lg:gap-[30px] mt-[172px] mb-[120px] md:mt-[172px] lg:mt-[240px] lg:mb-40 justify-between">
    <app-shop-button routerLink="/headphones" mainImg="assets/shared/desktop/image-category-thumbnail-headphones.png" title="HEADPHONES"></app-shop-button>
    <app-shop-button routerLink="/speakers" mainImg="assets/shared/desktop/image-category-thumbnail-speakers.png" title="SPEAKERS"></app-shop-button>
    <app-shop-button routerLink="/earphones" mainImg="assets/shared/desktop/image-category-thumbnail-earphones.png" title="EARPHONES"></app-shop-button>
</div>
<app-best-gear></app-best-gear>
<app-footer></app-footer>