<div class=" flex flex-col md:flex-row-reverse w-full gap-5 md:gap-[18px] lg:gap-[30px] mb-[120px] mt-[88px] md:mt-[120px] lg:my-40">
    <div class="flex flex-col md:h-full gap-5 md:gap-[18px] lg:gap-[30px]">
        <div class="">
            <img src={{firstImgMob}} alt="" class="rounded-lg block md:hidden ">
            <img src={{firstImgTab}} alt="" class="rounded-lg hidden md:block lg:hidden">
            <img src={{firstImgDes}} alt="" class="rounded-lg hidden lg:block">
        </div>

        <div class="">
            <img src={{secondImgMob}} alt="" class="rounded-lg block md:hidden">
            <img src={{secondImgTab}} alt="" class="rounded-lg hidden md:block lg:hidden">
            <img src={{secondImgDes}} alt="" class="rounded-lg hidden lg:block">
        </div>
    </div>

    
    <div class="">
        <img src={{thirdImgMob}} alt="" class="rounded-lg block md:hidden">
        <img src={{thirdImgTab}} alt="" class="rounded-lg hidden md:block lg:hidden">
        <img src={{thirdImgDes}} alt="" class="rounded-lg hidden lg:block">
    </div>
</div>
