<app-header></app-header>
<app-item-chekout goBackLink="/earphones" price="$ 599" newProduct="new" header="YX1 WIRELESS EARPHONES" mobImg="assets/product-yx1-earphones/mobile/image-product.jpg" tabImg="assets/product-yx1-earphones/tablet/image-product.jpg" desImg="assets/product-yx1-earphones/desktop/image-product.jpg" paragraph="Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature."></app-item-chekout>
<div class="common-margins flex flex-col lg:flex-row gap-[88px] md:gap-[120px] lg:gap-[125px]">
    <app-item-features textStart="Experience unrivalled stereo sound thanks to innovative acoustic technology. With improved ergonomics designed for full day wearing, these revolutionary earphones have been finely crafted to provide you with the perfect fit, delivering complete comfort all day long while enjoying exceptional noise isolation and truly immersive sound." textEnd="The YX1 Wireless Earphones features customizable controls for volume, music, calls, and voice assistants built into both earbuds. The new 7-hour battery life can be extended up to 28 hours with the charging case, giving you uninterrupted play time. Exquisite craftsmanship with a splash resistant design now available in an all new white and grey color scheme as well as the popular classic black."></app-item-features>
    <div class="flex flex-col md:flex-row lg:flex-col gap-6 md:gap-[11px] lg:gap-8">
        <h2 class="text-2xl font-MainFont font-bold leading-[36px] tracking-[0.857px] lg:w-[225px] uppercase text-black md:w-[339px]">in the box</h2>
        <div class="gap-2">
            <app-item-in-the-box amount="2" product="Earphone Unit"></app-item-in-the-box>
            <app-item-in-the-box amount="6" product="Multi-size Earplugs"></app-item-in-the-box>
            <app-item-in-the-box amount="1" product="User Manual"></app-item-in-the-box>
            <app-item-in-the-box amount="1" product="USB-C Charging Cable"></app-item-in-the-box>
            <app-item-in-the-box amount="1" product="Travel Pouch"></app-item-in-the-box>
        </div>
    </div>
</div>
<div class="common-margins">
    <app-gallery firstImgMob="assets/product-yx1-earphones/mobile/image-gallery-1.jpg" firstImgTab="assets/product-yx1-earphones/tablet/image-gallery-1.jpg" firstImgDes="assets/product-yx1-earphones/desktop/image-gallery-1.jpg" secondImgMob="assets/product-yx1-earphones/mobile/image-gallery-2.jpg" secondImgTab="assets/product-yx1-earphones/tablet/image-gallery-2.jpg" secondImgDes="assets/product-yx1-earphones/desktop/image-gallery-2.jpg" thirdImgMob="assets/product-yx1-earphones/mobile/image-gallery-3.jpg" thirdImgTab="assets/product-yx1-earphones/tablet/image-gallery-3.jpg" thirdImgDes="assets/product-yx1-earphones/desktop/image-gallery-3.jpg"></app-gallery>
</div>
<div class="flex flex-col font-MainFont common-margins">    
    <h3 class="text-center text-2xl font-bold leading-9 tracking-[0.857px] uppercase md:text-[32px] md:tracking-[1.143px] mb-10 md:mb-14 lg:mb-16">you may also like</h3>
    <div class="flex flex-col md:flex-row gap-14 md:gap-[11px] lg:gap-[30px] may-also-like">
        <app-may-also-like img="assets/product-xx99-mark-one-headphones/mobile/image-product.jpg" title="XX99 MARK I" linkTo="/headphones/xx99-mark-one-headphones"></app-may-also-like>
        <app-may-also-like img="assets/product-xx59-headphones/mobile/image-product.jpg" title="XX59" linkTo="/headphones/xx59-headphones"></app-may-also-like>
        <app-may-also-like img="assets/product-zx9-speaker/mobile/image-product.jpg" title="ZX9 SPEAKER" linkTo="/speakers/zx9-speaker"></app-may-also-like>
    </div>
</div>
<div class="flex shop-button flex-col md:flex-row common-margins gap-[68px] md:gap-[10px] lg:gap-[30px] mt-[172px] mb-[120px] md:mt-[172px] lg:mt-[240px] lg:mb-40 justify-between">
    <app-shop-button routerLink="/headphones" mainImg="assets/shared/desktop/image-category-thumbnail-headphones.png" title="HEADPHONES"></app-shop-button>
    <app-shop-button routerLink="/speakers" mainImg="assets/shared/desktop/image-category-thumbnail-speakers.png" title="SPEAKERS"></app-shop-button>
    <app-shop-button routerLink="/earphones" mainImg="assets/shared/desktop/image-category-thumbnail-earphones.png" title="EARPHONES"></app-shop-button>
</div>
<app-best-gear></app-best-gear>
<app-footer></app-footer>