<div class="common-margins flex flex-col lg:flex-row-reverse gap-10 md:gap-[63px lg:gap-[125px] font-MainFont my-[120px] lg:my-40">
    <img src="assets/shared/desktop/image-best-gear.jpg" alt="best gear image" class="hidden lg:block rounded-lg">
    <img src="assets/shared/tablet/image-best-gear.jpg" alt="best gear image" class="hidden md:block lg:hidden rounded-lg">
    <img src="assets/shared/mobile/image-best-gear.jpg" alt="best gear image" class="block md:hidden rounded-lg">
    <div class="gap-8 flex flex-col text-center lg:text-start lg:my-auto">
        <h2 class="uppercase leading-normal md:leading-[44px] tracking-[1px] md:tracking-[1.429px] font-bold text-[28px] md:text-[40px]">Bringing you the <span class="text-clrDarkOrange">best</span> audio gear</h2>
        <p class="opacity-50 text-black leading-[25px] text-[15px]">Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for you to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.</p>
    </div>
</div>