<div class="bgclr">
    <div class="common-margins font-MainFont relative z-50 flex justify-center">
        <div class="bg-white mt-[100px] md:mt-[130px] xl:mt-[59px] rounded-lg flex flex-col pb-8 md:pb-12 w-full max-w-[540px] mx-auto px-8 md:px-12 pt-8 md:pt-12 absolute ">
            <img src="assets/shared/desktop/check.png" alt="" class="w-16 h-16 mb-6">
            <h2 class="text-2xl md:text-[32px] font-bold leading-[1.13] tracking-[1.14px]">THANK YOU FOR YOUR ORDER</h2>
            <p class="opacity-50 text-[15px] leading-[1.67] font-medium mt-6 mb-6 md:mb-[33px]"> You will receive an email confirmation shortly.</p>
            <div class="rounded-lg flex flex-col md:flex-row w-full">
                <div class="bg-clr-colors-darkGrey p-6">
                    <div class="flex flex-row justify-between" *ngFor="let i of products">
                        <div class="flex gap-4">
                            <img src={{i.genericImg}} alt="" class="w-16 ">
                            <div class="my-auto">
                                <h1 class="font-bold leading-[25px] text-[15px]">{{i.shortName}}</h1>
                                <p class=" text-[14px] font-bold opacity-50 leading-[25px]">$ {{i.price | number : '1.2-2'}}</p>
                            </div>
                        </div>
                        <p class="items-center text-sm h-8 my-auto text-clr-colors-bgHover">x{{i.amount}}</p>
                    </div>

                    <hr class="w-full bg-black h-[1px]">
                    <div class="opacity-50 text-xs font-bold tracking-[-0.21px] cursor-pointer">
                        <p>View less</p>
                        <p>and 2 other item(s)</p>
                    </div>
                </div>

                <div class="bg-black text-white p-6">
                    <p class="text-[15px] font-bold leading-[1.67] opacity-50 mb-1">GRAND TOTAL</p>
                    <p class="text-lg font-bold">$ {{getTotal() | number: '1.0-0'}}</p>
                </div>
            </div>
            <button appButton class="w-full" [routerLink]="['/']">BACK TO HOME</button>
        </div>
    </div>
</div>
