<a routerLink={{routerLink}}>
    <div  class="bg-clr-colors-darkGrey font-MainFont flex flex-col justify-end text-center rounded-lg h-[165px] lg:h-[204px] min-w-[200px] group">
        <img  class="translate-y-[15%] object-contain bg-cover max-h-36 lg:max-h-40 lg:-translate-y-1 group-hover:scale-110 group-hover:duration-300 group-hover:ease-in-out"  src={{mainImg}} alt="">
        <div class="flex flex-col gap-[17px] lg:gap-[15px] pb-[22px] lg:pb-[30px]">
            <h3 class="text-lg font-bold tracking-widest uppercase">{{title}}</h3>
            <div class="flex mx-auto gap-3">
                <p class="uppercase opacity-50 tracking-[1px] font-bold text-[13px]">shop</p> 
                <img class="my-auto group-hover:translate-x-1 group-hover:duration-300 group-hover:ease-in-out" src="assets/shared/desktop/icon-arrow-right.svg" alt=""></div>
        </div>
    </div>
</a>
