<app-header></app-header>
<app-headline message="earphones"></app-headline>
<div class="flex flex-col gap-[120px] lg:gap-40 mt-16 mb-[120px] md:my-[120px] lg:my-40">
    <app-items newProduct="new" imgMob="assets/category-earphones/mob-image-yx1-earphones.jpg" imgTab="assets/category-earphones/tab-image-yx1-earphones.jpg" imgDesk="assets/category-earphones/des-image-yx1-earphones.jpg" title="YX1 WIRELESS EARPHONES" text="Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature."></app-items>
</div>
<div class="py-7 bg-red-300"></div>
<app-best-gear></app-best-gear>
<app-footer></app-footer>
