<app-header></app-header>
<div class="bg-clrLightGrey font-MainFont">
    <div class="flex flex-col pt-4 md:pt-12 lg:pt-20 pb-24 md:pb-28 lg:pb-[141px] common-margins">
        <p class="pb-6 opacity-50 hover:opacity-100 hover:cursor-pointer lg:pb-[38px] capitalize hover:text-clrDarkOrange">go back</p>
        <div class="bg-white pt-6 px-6 pb-8 rounded-lg md:py-[30px] md:px-7 lg:px-12 lg:pt-[54px] lg:pb-12">
            <h2 class="text-[28px] font-bold tracking-[1px] uppercase md:text-[32px] md:leading-[36px] md:tracking-[1.143px] mb-8 md:mb-10">CHECKOUT</h2>
            <div class=""></div>
            <div class=""></div>
        </div>
    </div>
</div>
<app-footer></app-footer>