<div class="common-margins mt-4 md:mt-8 lg:mt-20 font-MainFont flex flex-col mb-[88px] md:mb-[120px] lg:mb-40">
    <a routerLink={{goBackLink}} class="opacity-50 leading-[25px] font-medium text-[15px] capitalize  mb-6 lg:mb-14">go back</a>
    <div class="flex flex-col md:flex-row gap-8 md:gap-[70px] lg:gap-[125px]">
        <div class="responsive-images">
            <img src={{mobImg}} alt=" " class="">
            <img src={{tabImg}} alt="" class="">
            <img src={{desImg}} alt="" class="">
        </div>
        <div class="flex flex-col gap-6 md:gap-8 md:my-auto">
            <p [ngClass]="newProduct === 'new' ? 'block': 'hidden'" class="text-clrDarkOrange text-sm font-normal tracking-[10px] uppercase mb-6 md:mb-4 lg:-mb-4">NEW PRODUCT</p>
            <header class="text-[28px] font-bold tracking-[1px] uppercase md:leading-7 lg:text-[40px] lg:leading-[44px] lg:tracking-[1.429px]">{{header}}</header>
            <p class="opacity-50 text-[15px] font-medium leading-[25px]">{{paragraph}}</p>
            <p class="font-bold uppercase tracking-[1.286px] text-lg">{{price}}</p>
            <div class="mt-[7px] md:mt-0 lg:mt-[15px]">
                <button>button</button>
            </div>
        </div>
    </div>
</div>
